
  <body>
  

<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">The Gossip Project!</h1>
      <p>Le site que vous attendiez pour dire du mal des gens!</p>
      <p><a class="btn btn-primary btn-lg" href="<%= potins_path %>" role="button">Voir tous les potins &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">

      <div class="col-md-4">
        <h2> <%= @potin_exemple_1.title %> </h2>
        <p> <%= @potin_exemple_1.content %> </p>
        <p> <%= link_to "Voir le potin", potin_path(@potin_exemple_1.id), class: "btn btn-secondary" %> </p>
      </div>
      <div class="col-md-4">
        <h2> <%= @potin_exemple_2.title %> </h2>
        <p> <%= @potin_exemple_2.content %> </p>
        <p> <%= link_to "Voir le potin", potin_path(@potin_exemple_2.id), class: "btn btn-secondary" %> </p>
      </div>

      <div class="col-md-4">
        <h2> Vous voulez dire du mal? </h2>
        <p> Lancez-vous !  </p>
        <p> <%= link_to "Créez un potin", new_potin_path, class: "btn btn-success" %> </p>
      </div>
      
    </div>

    <hr>

  </div> <!-- /container -->

</main>



